<button id='plugin_select'> Select Plugin </button> <br>
<button id='parse_plugin'> Parse Plugin </button>
<TEXTAREA id="plugin_metadata" COLS=40 ROWS=20></TEXTAREA>

<script> require("./plugin.js"); </script>
