<h2> Installed Plugins </h2>

<div class='plugin-container'>
    {{#each plugins}}
        <div class='plugin'>
            Name: {{name}}
        </div>
    {{/each}}
</div> 

<h2> Binary Execution </h2>
<button id='file_button'> choose file </button> <br> 
args: <input type='text' id='args'/>
<button id='ooni_button'> run ooniprobe </button>

<script>
require("./exec.js");
</script>
