<h1>Running Tests</h1>
{{#each runningTests}}
<div class="running">
<div class="spinner"></div>
<div class="running-text">{{name}}</div>
</div>
{{/each}}
<h1 style="clear: both">Finished Tests</h1>
{{#each finishedTests}}
<div class="finished">
<div class="running-text" onclick="results.display()">{{name}}</div>
Runtime: {{(finish - start)/1000}} seconds
</div>
{{/each}}
